<h2 class="text-xl mb-3">Students</h2>

<button (click)="addStudent()" class="bg-blue-500 text-white px-3 py-1 mb-3">
  Add Student
</button>

<table class="table-auto w-full border">

  <thead>
    <tr class="bg-gray-200">
      <th>Name</th>
      <th>Class</th>
      <th>Section</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
  </thead>

  <!-- LOADING -->
  <tbody *ngIf="isLoading">
    <tr>
      <td colspan="6" class="text-center py-3">
        Loading students...
      </td>
    </tr>
  </tbody>

  <!-- DATA -->
  <tbody *ngIf="!isLoading">

    <tr *ngIf="students.length === 0">
      <td colspan="6" class="text-center py-3">
        No students found
      </td>
    </tr>

    <tr *ngFor="let s of students; trackBy: trackByFn">
      <td>{{ s.name }}</td>
      <td>{{ s.class }}</td>
      <td>{{ s.section }}</td>
      <td>{{ s.phone }}</td>
      <td>

        <button 
          (click)="editStudent(s._id)" 
          class="text-blue-500 mr-2">
          Edit
        </button>
        <button (click)="deleteStudent(s._id)" class="text-red-500">
          Delete
        </button>
      </td>
    </tr>

  </tbody>

</table>